# 1. Pandas를 사용하여 데이터를 로드하고, 처음 15개의 행을 출력

In [2]:
import pandas as pd

#Pandas를 사용하여 데이터를 로드
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df = pd.read_csv(url, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship',
                'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])

#처음 15개의 행을 출력
df[:15]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K

# 2. 데이터셋에서 범주형 변수만 선택하여 별도의 DataFrame으로 저장 후 확인

In [4]:
import numpy as np

# select_dtypes 이용하여 수치형 col 제외한 범주형 col 선택
categorical_columns = df.select_dtypes(exclude=np.number).columns.tolist()
# column은 ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

# 범주형 변수만 선택한 새로운 DataFrame 생성
cat_df = df[categorical_columns]

# print(cat_df.head())
cat_df[:15]

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,Jamaica,<=50K
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,>50K
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,United-States,>50K
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,India,>50K
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,United-States,<=50K
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,United-States,<=50K
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,?,>50K

# 3. workclass 변수를 레이블 인코딩으로 변환

In [15]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder 객체 생성
label_encoder = LabelEncoder()

# workclass 열을 레이블 인코딩
cat_df['workclass'] = label_encoder.fit_transform(cat_df['workclass'])

print(cat_df[['workclass']])

       workclass
0              7
1              6
2              4
3              4
4              4
...          ...
32556          4
32557          4
32558          4
32559          4
32560          5

[32561 rows x 1 columns]

<ipython-input-15-14f3b7e25f99>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df['workclass'] = label_encoder.fit_transform(cat_df['workclass'])

# 4. education 변수를 원-핫 인코딩으로 변환

In [26]:
# pandas 사용
# education 변수를 원-핫 인코딩
# get_dummies로 각 고유한 education 범주가 새로운 열로 표시됨. prefix는 새로운 열의 이름에 'education_' 접두사 추가
cat_df = pd.get_dummies(cat_df, columns=['education'])

# 결과 확인
print(cat_df)

       workclass       marital-status          occupation    relationship  \
0              7        Never-married        Adm-clerical   Not-in-family
1              6   Married-civ-spouse     Exec-managerial         Husband
2              4             Divorced   Handlers-cleaners   Not-in-family
3              4   Married-civ-spouse   Handlers-cleaners         Husband
4              4   Married-civ-spouse      Prof-specialty            Wife
...          ...                  ...                 ...             ...
32556          4   Married-civ-spouse        Tech-support            Wife
32557          4   Married-civ-spouse   Machine-op-inspct         Husband
32558          4              Widowed        Adm-clerical       Unmarried
32559          4        Never-married        Adm-clerical       Own-child
32560          5   Married-civ-spouse     Exec-managerial            Wife

         race      sex  native-country  income  workclass_encoded  \
0       White     Male   United-States   <=50K                  7
1       White     Male   United-States   <=50K                  6
2       White     Male   United-States   <=50K                  4
3       Black     Male   United-States   <=50K                  4
4       Black   Female            Cuba   <=50K                  4
...       ...      ...             ...     ...                ...
32556   White   Female   United-States   <=50K                  4
32557   White     Male   United-States    >50K                  4
32558   White   Female   United-States   <=50K                  4
32559   White     Male   United-States   <=50K                  4
32560   White   Female   United-States    >50K                  5

       education_ 10th  ...  education_ 9th  education_ Assoc-acdm  \
0                    0  ...               0                      0
1                    0  ...               0                      0
2                    0  ...               0                      0
3                    0  ...               0                      0
4                    0  ...               0                      0
...                ...  ...             ...                    ...
32556                0  ...               0                      1
32557                0  ...               0                      0
32558                0  ...               0                      0
32559                0  ...               0                      0
32560                0  ...               0                      0

       education_ Assoc-voc  education_ Bachelors  education_ Doctorate  \
0                         0                     1                     0
1                         0                     1                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     1                     0
...                     ...                   ...                   ...
32556                     0                     0                     0
32557                     0                     0                     0
32558                     0                     0                     0
32559                     0                     0                     0
32560                     0                     0                     0

       education_ HS-grad  education_ Masters  education_ Preschool  \
0                       0                   0                     0
1                       0                   0                     0
2                       1                   0                     0
3                       0                   0                     0
4                       0                   0                     0
...                   ...                 ...                   ...
32556                   0                   0                     0
32557                   1                   0                     0
32558                   1                   0                     0
32559                   1                   0                     0
32560                   1                   0                     0

       education_ Prof-school  education_ Some-college
0                           0                        0
1                           0                        0
2                           0                        0
3                           0                        0
4                           0                        0
...                       ...                      ...
32556                       0                        0
32557                       0                        0
32558                       0                        0
32559                       0                        0
32560                       0                        0

[32561 rows x 25 columns]

# 5. 변환된 dataframe 처음 15개 행 & 마지막 15개 행 출력

In [27]:
print(cat_df.head(15))
print(cat_df.tail(15))

    workclass          marital-status          occupation    relationship  \
0           7           Never-married        Adm-clerical   Not-in-family
1           6      Married-civ-spouse     Exec-managerial         Husband
2           4                Divorced   Handlers-cleaners   Not-in-family
3           4      Married-civ-spouse   Handlers-cleaners         Husband
4           4      Married-civ-spouse      Prof-specialty            Wife
5           4      Married-civ-spouse     Exec-managerial            Wife
6           4   Married-spouse-absent       Other-service   Not-in-family
7           6      Married-civ-spouse     Exec-managerial         Husband
8           4           Never-married      Prof-specialty   Not-in-family
9           4      Married-civ-spouse     Exec-managerial         Husband
10          4      Married-civ-spouse     Exec-managerial         Husband
11          7      Married-civ-spouse      Prof-specialty         Husband
12          4           Never-married        Adm-clerical       Own-child
13          4           Never-married               Sales   Not-in-family
14          4      Married-civ-spouse        Craft-repair         Husband

                   race      sex  native-country  income  workclass_encoded  \
0                 White     Male   United-States   <=50K                  7
1                 White     Male   United-States   <=50K                  6
2                 White     Male   United-States   <=50K                  4
3                 Black     Male   United-States   <=50K                  4
4                 Black   Female            Cuba   <=50K                  4
5                 White   Female   United-States   <=50K                  4
6                 Black   Female         Jamaica   <=50K                  4
7                 White     Male   United-States    >50K                  6
8                 White   Female   United-States    >50K                  4
9                 White     Male   United-States    >50K                  4
10                Black     Male   United-States    >50K                  4
11   Asian-Pac-Islander     Male           India    >50K                  7
12                White   Female   United-States   <=50K                  4
13                Black     Male   United-States   <=50K                  4
14   Asian-Pac-Islander     Male               ?    >50K                  4

    education_ 10th  ...  education_ 9th  education_ Assoc-acdm  \
0                 0  ...               0                      0
1                 0  ...               0                      0
2                 0  ...               0                      0
3                 0  ...               0                      0
4                 0  ...               0                      0
5                 0  ...               0                      0
6                 0  ...               1                      0
7                 0  ...               0                      0
8                 0  ...               0                      0
9                 0  ...               0                      0
10                0  ...               0                      0
11                0  ...               0                      0
12                0  ...               0                      0
13                0  ...               0                      1
14                0  ...               0                      0

    education_ Assoc-voc  education_ Bachelors  education_ Doctorate  \
0                      0                     1                     0
1                      0                     1                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     1                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                      0                     0                     0
9                      0                     1                     0
10                     0                     0                     0
11                     0                     1                     0
12                     0                     1                     0
13                     0                     0                     0
14                     1                     0                     0

    education_ HS-grad  education_ Masters  education_ Preschool  \
0                    0                   0                     0
1                    0                   0                     0
2                    1                   0                     0
3                    0                   0                     0
4                    0                   0                     0
5                    0                   1                     0
6                    0                   0                     0
7                    1                   0                     0
8                    0                   1                     0
9                    0                   0                     0
10                   0                   0                     0
11                   0                   0                     0
12                   0                   0                     0
13                   0                   0                     0
14                   0                   0                     0

    education_ Prof-school  education_ Some-college
0                        0                        0
1                        0                        0
2                        0                        0
3                        0                        0
4                        0                        0
5                        0                        0
6                        0                        0
7                        0                        0
8                        0                        0
9                        0                        0
10                       0                        1
11                       0                        0
12                       0                        0
13                       0                        0
14                       0                        0

[15 rows x 25 columns]
       workclass       marital-status          occupation     relationship  \
32546          4             Divorced        Tech-support    Not-in-family
32547          4   Married-civ-spouse   Machine-op-inspct          Husband
32548          6        Never-married      Prof-specialty    Not-in-family
32549          7             Divorced        Adm-clerical   Other-relative
32550          6   Married-civ-spouse        Craft-repair          Husband
32551          4   Married-civ-spouse   Handlers-cleaners          Husband
32552          4   Married-civ-spouse               Sales          Husband
32553          4        Never-married        Tech-support    Not-in-family
32554          4   Married-civ-spouse     Exec-managerial          Husband
32555          4        Never-married     Protective-serv    Not-in-family
32556          4   Married-civ-spouse        Tech-support             Wife
32557          4   Married-civ-spouse   Machine-op-inspct          Husband
32558          4              Widowed        Adm-clerical        Unmarried
32559          4        Never-married        Adm-clerical        Own-child
32560          5   Married-civ-spouse     Exec-managerial             Wife

                      race      sex  native-country  income  \
32546                White   Female   United-States   <=50K
32547                White     Male          Mexico   <=50K
32548                White     Male   United-States   <=50K
32549                White   Female   United-States   <=50K
32550                White     Male   United-States   <=50K
32551   Amer-Indian-Eskimo     Male   United-States   <=50K
32552                White     Male   United-States   <=50K
32553   Asian-Pac-Islander     Male          Taiwan   <=50K
32554                White     Male   United-States    >50K
32555                White     Male   United-States   <=50K
32556                White   Female   United-States   <=50K
32557                White     Male   United-States    >50K
32558                White   Female   United-States   <=50K
32559                White     Male   United-States   <=50K
32560                White   Female   United-States    >50K

       workclass_encoded  education_ 10th  ...  education_ 9th  \
32546                  4                0  ...               0
32547                  4                0  ...               0
32548                  6                0  ...               0
32549                  7                0  ...               0
32550                  6                0  ...               0
32551                  4                1  ...               0
32552                  4                0  ...               0
32553                  4                0  ...               0
32554                  4                0  ...               0
32555                  4                0  ...               0
32556                  4                0  ...               0
32557                  4                0  ...               0
32558                  4                0  ...               0
32559                  4                0  ...               0
32560                  5                0  ...               0

       education_ Assoc-acdm  education_ Assoc-voc  education_ Bachelors  \
32546                      1                     0                     0
32547                      0                     0                     0
32548                      0                     0                     0
32549                      0                     0                     0
32550                      0                     0                     0
32551                      0                     0                     0
32552                      0                     1                     0
32553                      0                     0                     0
32554                      0                     0                     0
32555                      0                     0                     0
32556                      1                     0                     0
32557                      0                     0                     0
32558                      0                     0                     0
32559                      0                     0                     0
32560                      0                     0                     0

       education_ Doctorate  education_ HS-grad  education_ Masters  \
32546                     0                   0                   0
32547                     0                   1                   0
32548                     0                   0                   0
32549                     0                   0                   0
32550                     0                   0                   0
32551                     0                   0                   0
32552                     0                   0                   0
32553                     0                   0                   1
32554                     0                   0                   1
32555                     0                   0                   0
32556                     0                   0                   0
32557                     0                   1                   0
32558                     0                   1                   0
32559                     0                   1                   0
32560                     0                   1                   0

       education_ Preschool  education_ Prof-school  education_ Some-college
32546                     0                       0                        0
32547                     0                       0                        0
32548                     0                       1                        0
32549                     0                       0                        1
32550                     0                       0                        1
32551                     0                       0                        0
32552                     0                       0                        0
32553                     0                       0                        0
32554                     0                       0                        0
32555                     0                       0                        1
32556                     0                       0                        0
32557                     0                       0                        0
32558                     0                       0                        0
32559                     0                       0                        0
32560                     0                       0                        0

[15 rows x 25 columns]