참고 사이트: 점프 투 파이썬

https://wikidocs.net/book/1

### 자료형

In [1]:
num1 = 1
num2 = 2
print(num1 + num2)
print(type(num1 + num2))

3
<class 'int'>

In [2]:
num1 = 1.0
num2 = 2.0
print(num1 + num2)
print(type(num1 + num2))

3.0
<class 'float'>

In [3]:
num1 = '1'
num2 = '2'
print(num1 + num2)
print(type(num1 + num2))

12
<class 'str'>

In [4]:
list1 = [1, 2, 3, 4, 5]
print(list1[1] + list1[-1])
print(type(list1))

7
<class 'list'>

### 기본 연산자

In [5]:
# 대입 연산자
num1, num2 = 5, 2

# 산술 연산자
print(num1 + num2) # 합
print(num1 - num2) # 차
print(num1 * num2) # 곱
print(num1 / num2) # 나누기
print(num1 // num2) # 몫
print(num1 % num2) # 나머지
print(num1 ** num2) # 제곱

7
3
10
2.5
2
1
25

In [6]:
# 비교 연산자
num1, num2 = 1, 1.0

print(num1 == num2)
print(num1 != num2)
print('\n')

print(num1 is num2)
print(num1 is not num2)

True
False


False
True

In [7]:
# 논리 연산자
print(True and True)
print(True and False)
print(False and False)
print('\n')

print(True or True)
print(True or False)
print(False or False)
print('\n')
      
print(not True)
print(not False)

True
False
False


True
True
False


False
True

### 조건문

In [8]:
num1, num2 = 6, 2

if num1 > num2:
    print('{} is bigger than {}'.format(num1, num2))
elif num1 == num2:
    print('{} and {} are equal in value'.format(num1, num2))
else:
    print('{} is smaller than {}'.format(num1, num2))

6 is bigger than 2

### 반복문

In [9]:
for i in range(10):
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    
    if i > 5:
        break
    
    print(i)

0
1
2
3
4
5

In [11]:
for i in range(10):
    for j in range(10):
        print(i, j, i + j)

0 0 0
0 1 1
0 2 2
0 3 3
0 4 4
0 5 5
0 6 6
0 7 7
0 8 8
0 9 9
1 0 1
1 1 2
1 2 3
1 3 4
1 4 5
1 5 6
1 6 7
1 7 8
1 8 9
1 9 10
2 0 2
2 1 3
2 2 4
2 3 5
2 4 6
2 5 7
2 6 8
2 7 9
2 8 10
2 9 11
3 0 3
3 1 4
3 2 5
3 3 6
3 4 7
3 5 8
3 6 9
3 7 10
3 8 11
3 9 12
4 0 4
4 1 5
4 2 6
4 3 7
4 4 8
4 5 9
4 6 10
4 7 11
4 8 12
4 9 13
5 0 5
5 1 6
5 2 7
5 3 8
5 4 9
5 5 10
5 6 11
5 7 12
5 8 13
5 9 14
6 0 6
6 1 7
6 2 8
6 3 9
6 4 10
6 5 11
6 6 12
6 7 13
6 8 14
6 9 15
7 0 7
7 1 8
7 2 9
7 3 10
7 4 11
7 5 12
7 6 13
7 7 14
7 8 15
7 9 16
8 0 8
8 1 9
8 2 10
8 3 11
8 4 12
8 5 13
8 6 14
8 7 15
8 8 16
8 9 17
9 0 9
9 1 10
9 2 11
9 3 12
9 4 13
9 5 14
9 6 15
9 7 16
9 8 17
9 9 18

In [12]:
i = 0
while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

### 함수 만들기

In [13]:
def multi(A, B):
    value = A * B
    return value

In [14]:
print(multi(5, 10))

50

### 내장 함수 사용하기: 문자열 Execution(실행하기)

In [15]:
hello = 'print("world")'

In [16]:
print(hello)

print("world")

In [17]:
exec(hello)

world

In [18]:
exec('print("world")')

world

### 라이브러리 함수 사용하기

In [19]:
import numpy as np

arr1 = np.array( range(5), dtype = int )
arr1

array([0, 1, 2, 3, 4])

In [20]:
# 라이브러리의 함수 사용
print(np.max(arr1))
print(np.min(arr1))
print(np.sum(arr1))

4
0
10

In [21]:
import pandas as pd

arr2 = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]])

df2 = pd.DataFrame(arr2)

df2.to_csv('./dataframe', header=None, index=None)